* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: black;
  }
  
  
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), #000),
      url(/static/assets/img/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  /* .center {
      margin-top: 25%;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
      border-radius: 20px;
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    } */
  
  section {
    overflow: hidden;
    /* position: absolute; */
    width: 100%;
    height: 55%;
    top: 110px;
    bottom: 100%;
    padding-top: 100px;
    opacity: 2;
    transition: ease-in-out 0.4s;
    z-index: 2;
  }
  
  section.section-show {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
  }
  
  section.container {
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
  }
  
  @media (max-width: 768px) {
    section {
      height: 100%;
      padding: 15px;
      top: 0px;
      /* top: 120px; */
    }
    section.section-show {
      top: 80px;
    }
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  
  .services .icon-box {
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(204, 204, 204, 0.1);
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
  }
  @media (max-width: 768px) {
    .services .icon-box {
      width: 100%;
      height: 100%;
      text-align: center;
      background: rgba(204, 204, 204, 0.1);
      padding: 60px 20px;
      transition: all ease-in-out 0.3s;
    }
  
    .progressclass {
      margin-top: 20%;
    }
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #18d26e;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
  }
  
  .services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
  }
  
  .services .icon-box .icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #fff;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    background: #18d26e;
    border-color: #18d26e;
  }
  
  .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #18d26e;
  }
  
  .services .icon-box:hover .icon::before {
    background: #35e888;
  }
  
  .services .icon-box:hover h4 a,
  .services .icon-box:hover p {
    color: #fff;
  }
  
  .btn1:link,
  .btn1:visited {
    display: inline-block;
    padding: 10px 30px;
    background-color: #e67e22;
    border-radius: 200px;
    text-decoration: none;
    font-weight: 300;
    border: 1px solid #e67e22;
    color: white;
    margin-right: 15px;
  }
  .btn2:link,
  .btn2:visited {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 200px;
    text-decoration: none;
    font-weight: 300;
    color: white;
    border: 1px solid #e67e22;
    color: #e67e22;
  }
  
  .btn1:hover,
  .btn1:active {
    background-color: #cf6d17;
    border-color: #cf6d17;
  }
  
  .btn2:hover,
  .btn2:active {
    background-color: #cf6d17;
    border-color: #cf6d17;
    color: white;
  }
  
  .progresstyle {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .marginstyle {
    border-bottom: 2px solid rgb(76, 235, 149);
    width: 50%;
  }
  
  /* feed */
  
  .feed {
    flex: 0.6;
    margin: 0 20px;
    margin-top: 47px;
  }
  .feed_inputcont {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .feed_input {
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    color: gray;
    padding-left: 15px;
  }
  
  .feed_input form {
    display: flex;
    width: 100%;
  }
  
  .feed_input form input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
  }
  
  .feed_inputoption {
    display: flex;
    justify-content: space-evenly;
  }
  .inputoption {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  /* posts */
  .post {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .post_header {
    display: flex;
    margin-bottom: 10px;
  }
  .post_info {
    margin-left: 10px;
  }
  .post_info p {
    font-size: 15px;
    color:rgb(76, 235, 149)
  }
  .post_info h2 {
    font-size: 12px;
    color: white
  }
  
  .post_body p{
    color: white;
  
  }
  
  .post_body a{
    color: #00ff14;
  
  }